<div>
    <h3>Ordernar</h3>
    <button onclick="ordenar ("stock", 1)"> Ascendente </button>
    <button onclick="ordenar ("stock", -1)"> Desendente </button>
</div>

<div>
    <h1> Lista de Productos </h1>

    <ul>
        {{#each docs}}
            <div> {{this.thumbnail}} </div>
            <li> 
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <span>{{this.price}}</span>
                <p>{{this.code}}</p>
                <p>{{this.stock}}</p>
            </li>
        {{/each}}
    </ul>
</div>

<div>
    <p>Pagina {{page}} de {{totalPages}}</p>

    {{#if hasPrevPage}} 
        <a href="/?page={{prevPage}}"> Pagina anterior </a>
    {{/if}}

    <br>   

    {{#if hasNextPage}}
        <a href="/?page={{nextPage}}"> Siguiente pagina</a>
    {{/if}}
</div>

<script src="/js/home.js"></script>